/* NavBar */

a {
  color: rgb(158, 86, 86); 
  padding: 10px 16px;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
  
  a:hover {
    color: black;

  }

.nav-theme {
    background-color: rgba(236, 236, 242, 0.79);
    font-size: 20px;
    height: 80px ;
}
  .nav-elements {
    margin: 50px 30px;
    font-weight: bolder;
    font-size: 20px;

  }

/* Logo */
  span{
    color: rgb(158, 86, 86);
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  }

  /* Slider */

  .slide-img{
    object-fit: cover;
    height: 100vh;
    position:relative;
    padding: 0;
    margin-top: -100;
   }

   .name{
    position: absolute;
    top: 400px;
    width: 100%;
    z-index: 1;
    color:white;
    text-shadow:2px 7px 8px white;
    text-align: center;;
    font-weight: bolder;
    font-family:monospace;
    font-size: 60px;
  }
  h2{
    position:absolute;
    top: 550px;
    text-align: center;
    /* left: 700px; */
    width: 100vw;
    z-index: 1;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  h2:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
   

  }
  
  .carousel .carousel-item {
    margin-top: 100px;
    height: 100vh;
  }
   
  .carousel-item img {
    min-height: 100vh;
  }

 /* About */

  #about{
    text-align: center;
    color: rgb(158, 86, 86); 
    font-size: 25px; 
    font-weight:bold; 
  }

 #h1{ 
    padding-top: 90px;
    padding-bottom:50px ;
    text-align: center;
    color: rgb(133, 51, 51); 
    font-size: 55px; 
    font-weight:bolder; 
    font-family:'Courier New'; 
}  

.button{ 
    border:0dvh; 
    border-radius: 50%; 
} 

.para{ 
    padding: 30px; 
    font-weight: 500; 
    font-size: 40px; 
} 
.about-animate {
  animation-fill-mode: both;
  animation-duration: 2000ms;
  animation-delay: 0ms;
  animation-iteration-count: 1;
  opacity: 1;
  animation-name: aboutanimation;
}

@keyframes aboutanimation {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0px, 0px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

/* Skills */

.card-deck .card {
    width: 95%;
  }
  
  .card-deck {
    display: flex;
    justify-content: center;
    flex-flow: nowrap;
    margin: 0;
    margin-bottom: 10px;
  }
  
  .image-icons {
    width: 50px;
  }
  
  .card:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
  }
  
  .container-box {
    width: 80%;
    background-color: transparent;
    position: relative;
    z-index: 9;
  }

  @media only screen and (max-width: 786px) {
    .card-deck {
      flex-direction: row;
      flex-flow: wrap;
      width: 100%;
    }
  }
  
  .techskills {
    animation-fill-mode: both;
    animation-duration: 2000ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    animation-name: techskillanimation;
  }
  
  @keyframes techskillanimation {
    0% {
      opacity: 0;
      transform: translate3d(100%, 0px, 0px);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }

  /* For Skills and Projects content */

  .head{
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: rgb(133, 51, 51); 
    font-weight: bolder;
  }

  .head-inner{
        text-align: center;
        color: rgb(158, 86, 86); 
        font-size: 15px; 
        font-weight:20px; 
    }

    /* Project Button */

    .bt{
      color: white;
      background-color: brown;
      border-radius: 5px;
    }
    
    .bt:hover{
      background-color: chocolate;
    }
    
    /* Contact */

    .box{
      display: flex;
      flex-wrap: wrap;
      position: relative;
      /* left: 330px; */
      margin:auto;
      top: 10px;
      justify-content: center;
      border: solid 3px gray;  
      border-radius: 10px;
      padding: 40px;
      width: 900px;
      height: 250px;
    }
  
/* Footer */

.footer{ 
    text-align: center; 
    padding: 20px;
    color: rgb(158, 86, 86); 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 25px; 
    font-weight: 500; 
    background-color: rgb(244, 232, 232)
} 
strong{
  color: red;
  font-size: 30px;
}